@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    box-sizing: border-box;
}
body{
    padding: 0%;
    margin: 0%;
    font-family: 'Bebas Neue', sans-serif;
    background-color: black;
}

   .form h1{
    color: white;
    background: green;
    height: 60px;
    font-size: 50px;
    justify-content: center;
    text-align: center;
   }
   .form label{
    color: white;
    font-size: 30px;
    justify-content: center;
    text-align: center;
    margin: 35%;
   }
   .form input{
    width: 20%;
    margin: 15px;
    margin-left: 35%;
   }
   .form textarea{
    width: 20%;
    margin: 15px;
    margin-left: 35%;
   }